.template-block {
  position: relative;
  width: 100%;
  max-width: 237.5px;
  margin-right: 10px;
  margin-top: 25px;
}

.template {
	position: relative;
	width: 100%;
	/*min-height: 474px;*/
}

.template-block:last-child {
	margin-right: 0;
}

.cont {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	padding: 20px;
}

.cont2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 98%;
	padding: 0 19px 20px 20px;
}

.cont.show {
	display: block;
}

.tpad {
	position: relative;
	width: 100%;
	height: 100%;
}

.squares {
	width: 100%;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.square {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background: #e1e1e1;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	padding: 10px;
}

.burger {
	position: absolute;
	height: 50px;
	width: 50px;
	top: 30px;
}

.blines {
	position: absolute;
	width: 100%;
	padding: 10px 12px;
}

.bline {
	background: #fff;
	height: 3px;
	width: 100%;
	margin-top: 5px;
}

.bline:first-child {
	margin-top: 0;
}

.squares2 {
	bottom: 90px;
}

.w100 {
	bottom: 50px;
}

.squares4 {
	justify-content: flex-start;
	bottom: 20px;
}

.squares2 .square {
	min-height: 80px;
	width: 47.5%;
}

.squares4 .square {
	width: 100%;
	max-width: 45px;
	min-height: 50px;
	width: 23%;
	margin-right: 5px;
}

.squares4 .square:last-child {
	margin-right: 0;
}

.w100 .square {
	width: 100%;
	min-height: 40px;
}

.square p {
	line-height: 1.3;
	word-wrap: break-word;
    word-break: break-all;
}

.square.hide {
	display: none;
}

.tab-name {
	font-family: HelveticaNeueLTStd-Md;
	font-size: 14px;
}

@media(max-width: 768px) {
	.tab-name {font-size: 12px;}
}

.squares4 .tab-name {
	font-size: 9px;
}

.template-block.right {
	position: relative;
    top: -16px;
	margin: 0 auto;
    margin-top: 0;
    pointer-events: none;
}


@media(max-width: 576px) {
	.template-block.right {margin-top: 50px;}
}


.template img {
	position: relative;
	width: 115%;
	max-width: none;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s;
}

.template-logo {
	position: relative;
	top: 35px;
	padding: 30px;
}

.template-logo img {
	width: auto;
	max-width: 100%;
	max-height: 47px;
}

@media(max-width: 768px) {
	.template-block {margin-right: 0;}
}

.template-block:hover img {
	top: -15px;
	transition: .4s;
}

.template-block:hover .title {
	color: #b71f2a;
}

.two {
	justify-content: center;
}

.two .template-block {
	pointer-events: none;
	margin-top: 0;
}

@media(max-width: 1400px) {
  .two .template-block {
  	margin-top: 30px;
  }
}

.addons-title {
	font-family: 'HelveticaNeueLTStd-Md';
	font-size: 14px;
	position: absolute;
	z-index: 300;
	top: 46px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	color: #d01317;
	text-transform: uppercase;
	text-align: center;
}

.t2, .t4 {
	font-family: 'HelveticaNeueLTStd-Bd';
	font-size: 11px;
	top: 55px;
}

.t4 {
    top: 66px;
}

.t3 {
	width: 76px;
    color: #000;
    font-size: 11px;
    top: 69px;
    left: 39px;
    transform: none;
    padding: 0 5px;
}

.addons-btns {
	position: absolute;
	z-index: 300;
	width: 100%;
	bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.tpad2 {
	position: absolute;
    width: 100%;
    height: 100%;
}

.addons-btns .btn {
	width: 100%;
	max-width: none;
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	padding: 4px;
	text-align: center;
}

.fssmall .btn {
	font-size: 9px;
}

.addons-btns .w48 {
	width: 48.5%;
	margin-top: 7px;
}

.addons-btns .w100 {
	width: 100%;
	max-width: 100%;
	margin-top: 7px;
}
