@font-face {
  font-family: HelveticaNeueLTStd-Roman;
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot');
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff');
        font-display: swap;
}

@font-face {
  font-family: HelveticaNeueLTStd-Md;
  src: url('../fonts/HelveticaNeueLTStd-Md.eot');
  src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff');
        font-display: swap;
}

@font-face {
  font-family: HelveticaNeueLTStd-Bd;
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot');
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff');
        font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto.eot');
  src: url('../fonts/roboto.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
        font-display: swap;
}

@font-face {
  font-family: Roboto-Bold;
  src: url('../fonts/roboto-bold.eot');
  src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-bold.woff2') format('woff2'),
       url('../fonts/roboto-bold.woff') format('woff');
        font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

ul {
  list-style: none;
}

body {
  min-width: 320px;
  font-family: HelveticaNeueLTStd-Roman;
  font-weight: 100;
}

main {
  overflow: hidden;
}

a {
  font-family: HelveticaNeueLTStd-Bd;
  font-size: 16px;
  color: #b71f2a;
  display: inline-block;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: #000;
}

strong {
  font-family: HelveticaNeueLTStd-Bd;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  /*max-width: 1400px;*/
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

h3,h4,h6 {
  font-weight: 100;
}

h3 {
  font-family: HelveticaNeueLTStd-Bd;
  font-size: 30px;
  line-height: 1.5;
  color: #b71f2a;
  border-bottom: 1px solid #b71f2a;
  padding-top: 5px;
  padding-bottom: 8px;
}

h4 {
  font-family: Roboto;
  font-size: 25px;
  color: #000;
}

h6 {
  font-family: HelveticaNeueLTStd-Bd;
  font-size: 16px;
  line-height: 1.6;
  padding-top: 15px;
}

p {
  font-size: 16px;
  color: #000;
  line-height: 1.7;
}

@media (max-width:1400px){
  .container {
    /*max-width:990px;*/
    width: 100%;
    padding:0 15px;}  
}

@media (max-width:960px){
  h3,h6 {text-align: center;}
}

@media (max-width:768px){
  h4 {font-size: 22px;margin-top: 25px;}
}

@media (max-width:576px){
  h4 {font-size: 20px;}
}

.app {
  /*flex: 1 1;*/
  width: auto;
  height: auto;
  font-family: Roboto;
  font-size: 25px;
  color: #000;
  border-radius: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
 -webkit-appearance: default-button;
 -webkit-appearance: none;
 -webkit-tap-highlight-color: transparent;
}

.app:hover, .app:focus {
  border: 0;
}

@media (max-width:768px){
  .app {font-size: 22px;margin-top: 25px;}
}

@media (max-width:576px){
  .app {font-size: 20px;}
}


.vn {
  display: flex;
  align-items: normal;
  flex-wrap: wrap;
}

.fl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header {
  padding: 23px 0;
}

.logo {
  position: relative;
  padding-right: 30px;
  margin-right: 40px;
}

.logo:after {
  content: '';
  height: 40px;
  width: 1px;
  position: absolute;
  right: 0;
  border-right: 1px solid #b1b1b1;
}

.var {
  cursor: pointer;
}

.small-logo {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.12);
  border-radius: 15px;
  padding: 13px 10px;
  margin-right: 20px;
}

.mx {
  margin: 0 auto;
}

.name {
  background: #fff;
}

.name {
  flex: 1 1;
}

@media(max-width: 768px) {
  .logo {
    width: 100%;
    border-bottom: 1px solid #b1b1b1;
    padding-bottom: 20px;
    padding-right: 0;
    margin-right: 0;
  }
  .logo:after {display: none;}
  .name {width: 100%;justify-content: center;flex: none;}
  .small-logo {margin-top: 25px;}
}

/*breadcrumbs*/
.breadcrumbs {
  background: #000;
  padding-bottom: 18px;
}

.breadcrumbs a {
  font-family: HelveticaNeueLTStd-Roman;
  color: #fff;
}

.breadcrumbs a:hover {
  color: #b71f2a;
}

.breadcrumbs li:last-child a {
  font-family: 'HelveticaNeueLTStd-Bd';
  /*pointer-events: none;*/
}

.fin-page .breadcrumbs li:last-child a {
  pointer-events: auto;
}

.breadcrumbs li {
  position: relative;
  margin-top: 17px;
}

.breadcrumbs li:after {
  content: url(../img/arrow.svg);
  width: 7px;
  height: 11px;
  margin: 0 18px;
}

.breadcrumbs li:last-child:after {
  display: none;
}
/**/

.section-content {
  background: #e0e0e0;
  padding: 32px 0 60px 0;
}

.block {
  border-radius: 5px;
  background: #f8f8f8;
  box-shadow: 0 0 10px rgba(0,0,0,0.12);
  overflow: hidden;
}

.col {
  padding: 20px;
}

.w30 {
  /*width: 32%;*/
  width: 320px;
}

.w70 {
  /*width: 68%;*/
  flex: 1 1;
}

@media(max-width: 1400px) {
  /*.w70 {width: 65%;}*/
  .w30 {/*width: 35%;*/padding: 0 20px;}
}

@media(max-width: 960px) {
  /*.w70 {width: 55%;}
  .w30 {width: 45%;}*/
  .w70 {width: 100%;flex: none;}
  .w30 {width: 100%;}
}

@media(max-width: 576px) {
  .col2 {width: 100%;}
  .w30 {padding: 0;}
}

.two {
  width: 540px;
}

@media(max-width: 1260px) {
  .two {width: 290px;}
}

@media(max-width: 970px) {
  .two {width: 100%;}
}

.colfl {
  position: relative;
  flex: 1 1;
}

@media(max-width: 960px) {
  .colfl {
    width: 100%;
    flex: none;
  }
}

.pr {
  padding-right: 21px;
}

.pr2 {
  padding-right: 30px;
}

.menu {
  width: 320px;
  background: #b71f2a url(../img/bg.jpg) center;
  background-repeat: repeat-y;
  padding-right: 0;
}

.closebtn {
  display: none;
  font-family: 'HelveticaNeueLTStd-Bd';
  font-size: 42px;
  line-height: 1;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  margin-right: 20px;
}

.closebtn:hover {
  color: #000;
}

@media(max-width: 960px) {
 .closebtn {display: block;}
 .menu {
  min-height: 100vh;
  position: fixed;
  z-index: 2000;
  width: 100%;
  left: -100%;
  top: 0;
  transition: .2s;
 }
 #menu-tabs a:nth-last-child(2) {
  border-bottom: 1px solid rgba(255,255,255,0.4);
 }
 .menu-after {
  content: '';
  position: absolute;
  right: -35px;
  top: 42.6%;
  width: 35px;
  height: 50px;
  background-color: #b71f2a;
  background-image: url(../img/burger.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
 }
}

.info {
  width: 100%;
  flex: 1 1;
  padding-bottom: 35px;
}

@media(max-width: 1400px) {
  .menu {width: 200px;}
}

@media(max-width: 1260px) { 
  .info h3 {margin-right: 20px;}
  .info {padding-right: 0;}
  /*.pr2 {padding-right: 15px;}*/
  .pr2 {padding-right: 0;}
}

@media(max-width: 960px) {
  .pr2 {padding-right: 20px;}
}

@media(max-width: 576px) {
  .info h3 {margin-right: 0;}
  .pr, .pr2 {padding-right: 0;}
  .info {padding-right: 20px;}
}


.pb52 {
  padding-bottom: 52px;
}

@media(max-width: 960px) {
  .col {
    width: 100%;
    flex: none;
  }
}

/*menu*/

.icon {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.point svg {
  fill: #fff;
}

.point {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.4);
  margin-right: 20px;
  padding: 14px 10px 13px 10px;
}

.point:first-child {
  border-top: 1px solid transparent;
}

.point:hover, .active.point {
  background: #f8f8f8;
  border-top: 1px solid transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 0;
}

@media(max-width: 960px) {
  .point:hover, .active.point {
    border-radius: 5px;
    margin-right: 20px;
  }
}

.point:hover + .point, .active.point + .point {
  border-top: 1px solid #b71f2a;
}

.point:hover svg, .active.point svg {
  fill: #b71f2a;
}

.point p {
  font-family: 'HelveticaNeueLTStd-Bd';
  color: #fff;
}

.point:hover p, .active.point p {
  color: #000;
}
/**/

.upl-downl {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
   height: 45px;
   font-family: HelveticaNeueLTStd-Bd;
   font-size: 16px;
   color: #b71f2a;
   background-color: #fff;
   background-position: 94% center;
   background-repeat: no-repeat;
   border: 2px solid #b71f2a;
   border-radius: 5px;
   outline: none;
   text-transform: uppercase;
   text-decoration: none;
   padding: 0 13px;
   cursor: pointer;
}

.upl-downl:hover {
   color: #fff;
   background-color: #b71f2a;
}

@media(max-width: 1260px) {
  .upl-downl {font-size: 14px;}
}

.downl {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  background-image: url('../img/upload2.svg');
}

.downl:hover {
  color: #fff;
  background-color: #b71f2a;
  border: 1px solid #b71f2a;
}

.width {
  width: 330px;
}

@media(max-width: 768px) {
  .width {width: 100%;}
}

.preview {
  background-image: url('../img/preview.svg');
}

.preview:hover {
  background-image: url('../img/preview2.svg');
}

.content {
  max-width: 1100px;
  padding-top: 25px;
  margin: 0 auto;
}
/*
.content-block {
  margin-top: 35px;
}
*/
.redl {
  width: 100%;
  height: 1px;
  border-top: 1px solid #b71f2a;
  margin-top: 35px;
}

@media(max-width: 1260px) {
  .redblock {padding-right: 20px;}
}

@media(max-width: 576px) {
  .redblock {padding-right: 0;}
}

.fblock {
  border-top: 0;
  margin-top: 0;
}

.content.items {
  padding-top: 0;
}

.title {
  font-family: HelveticaNeueLTStd-Roman;
  text-align: center;
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.w200 {
  width: 200px;
}

.w127 {
  width: 127px;
}

.w157 {
  width: 157px;
}

.w319 {
  width: 319px;
  flex: 1 1;
}

.w319:last-child {margin-right: 0;}

@media(max-width: 1400px) {
  .w200 {width: 150px;}
}

.item {
  margin-right: 12px;
}

.flex11 {
  flex: 1 1;
}

.addons .flex11.item {
  margin-right: 0;
}

@media(max-width: 1400px) {
  .w319 {flex: 1 1;}
  .lines .w319.item {margin-right: 0;}
}

@media(max-width: 768px) {
  .w200, .w127, .w157 {width: 100%;margin-right: 0;}
  .br .w200, .br .w127, .br .w157 {margin-bottom: 15px;}
  .titles.br .w127 {margin-bottom: 0;}
  .lines p {padding-bottom: 12px;}
  .lines p.tab {padding-bottom: 0;}
  /*.addons .flex11.item {margin-right: 12px;}*/
}

@media(max-width: 576px) {
   .w319, .flex11 {
    width: 100%;
    flex: none;
   }
}

.line {
  margin-top: 10px;
}

.line.vn {
  align-items: normal;
}

.line:first-child {
  margin-top: 0;
}

.line.hide {
  display: none;
}

.line.vn p {
  padding-top: 10px;
}

@media(max-width: 1400px) {
  .line.vn p {line-height: 1.3;font-size: 15px;}
}

@media(max-width: 768px) {
  .line.vn p {padding-top: 0;}
  .lines1 .line {margin-top: 26px;}
  .lines1 .line:first-child {margin-top: 0;}
  .lines .line {margin-top: 25px;}
  .lines .line:first-child {margin-top: 0;}
}

.tbg {
   -webkit-background-size: cover;
   -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: #fff;
}

.tab, .func, .social {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: 1px solid #f3cbcb;
  border-radius: 5px;
  padding: 0 13px;
}

.func, .social {
  width: 45px;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.func {
  margin-right: 12px;
}

.social {
  margin-right: 7px;
}


.func:last-child, .social:last-child {
  margin-right: 0;
}

@media(max-width: 576px) {
  .funcs {
    width: 100%;
    justify-content: center;
    margin-top: 15px;
  }
  .lines2 .line {margin-top: 26px;}
  .lines2 .line:first-child {margin-top: 0;}
}

.func:hover, .social:hover {
  background: #b71f2a;
  border: 1px solid #b71f2a;
}

.func svg, .social svg {
  fill: #b71f2a;
}

.plus svg {
  fill: #2db71f;
}

.func:hover svg, .social:hover svg {
  fill: #fff;
}

.plus:hover svg {
  fill: #fff;
}

.func:hover p {
  color: #fff;
}

.func.prompt .close-icon {
  display: none;
}

.func.prompt .close-icon {
  fill: #fff;
}

.func.prompt.sel .i-icon {
  display: none;
}

.func.prompt.sel .close-icon {
  display: block;
}

.delicon.sel, .func.sel {
  background: #b71f2a;
  border: 1px solid #b71f2a;
  /*pointer-events: none;*/
}

.delicon.sel svg, .func.sel svg {
  fill: #fff;
}

.funca {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background: #fff;
  margin-right: 12px;
  cursor: pointer;
}


.funca input.spectrum.with-add-on {
  width: 100%;
  background: none;
  border: 1px solid #f3cbcb;
  border-radius: 5px;
  cursor: pointer;
}

.funca:hover input.spectrum.with-add-on {
  border: 1px solid #b71f2a;
}

.funca input[value] {
  color: transparent;
} 

.funca p {
  position: absolute;
  top: auto;
  font-size: 23px;
  line-height: 1;
  color: #1f75b7;
}

.btns-line p {
  padding-bottom: 15px;
}

.dis {
  pointer-events: none;
}

.br {
  border-top: 1px solid #d5d5d5;
  padding-top: 22px;
}

.mt {
  margin-top: 22px;
}

.mt2 {
  margin-top: 15px;
}

.mt3 {
  margin-top: 15px;
}

.mt4 {
  margin-top: 25px;
  padding-top: 15px;
}

.js {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media(max-width: 768px) {
  .mt3 {
    margin-top: 30px;
  }
  .js {
    justify-content: center;
  }
}

.note-container {
  position: relative;
  height: 100%;
  padding-bottom: 170px;
}

.note {
  border: 1px solid #cbe8f3;
  background: #f3f7f8;
  border-radius: 7px;
  overflow: hidden;
  padding: 20px 15px;
  margin-top: 40px;
}

.note-block {
  width: 49%;
}

@media(max-width: 1260px) {
  .note-block {
    width: 65%;
  }
}

@media(max-width: 960px) {
  .note-block {
    width: 100%;
    padding-right: 20px;
  }
}

@media(max-width: 576px) {
  .note-block {
    padding-right: 0;
  }
}

.note-container .note {
  position: absolute;
  width: 100%;
  bottom: 29px;
}

.abs {
  position: absolute;
  bottom: 13px;
}

@media(max-width: 1400px) {
  .abs {
    position: relative;
    bottom: auto;
  }
  .note-container .note {
    position: relative;
    bottom: auto;
  }
  .note-container {
    padding-bottom: 0;
  }
}

.note h6 {
  text-align: left;
  padding-top: 0;
}

.note-text {
  flex: 1 1;
  padding-left: 15px;
}

@media(max-width: 576px) {
  .note img {margin: 0 auto;}
  .note-text {
    flex: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-left: 0;
  }
  .note h6 {text-align: center;}
}

/*footer*/
.footer-top {
  height: 140px;
  background: #000;
}

.footer-bottom {
  background: #e0e0e0;
  padding: 40px 0 50px 0;
}

.copy {
  font-size: 13px;
  color: #5b5b5b;
  text-align: center;
}

@media(max-width: 576px) {
  body .sp-container {
    width: 100%;
    left: 50% !important;
    transform: translateX(-50%);
    background: none;
    box-shadow: none;
    padding: 0 15px;
  }
  .sp-palette-container {
    display: none;
  }
  body .sp-picker-container {
    width: 100%;
    background: #fff;
  }
}

.pl127 {
  padding-left: 127px;
}

@media(max-width: 1400px) {
  .pl127 {padding-left: 0;}
}

.line {
  position: relative;
}

.information {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  min-height: 100%;
  width: calc(100% - 57px);
  width: -moz-calc(100% - 57px);
  background: #f5f5dc;
  border-radius: 5px;
  border: 1px solid #f3cbcb;
  padding: 10px 13px;
}

.information.show {
  display: block;
}

@media(max-width: 1400px) {
  .information {font-size: 15px;}
}

@media(max-width: 960px) {
  .information p {font-size: 13px;}
}

.notemob {
  width: 100%;
  display: none;
  padding-right: 20px;
}

.notemob .note {
  margin-top: 20px;
}

@media(max-width: 768px) {
  .notedesc {
    display: none;
  }
  .notemob {
    display: block;
  }
}

@media(max-width: 576px) {
  .information {
    width: 100%;
    top: calc(100% + 12px);
    top: -moz-calc(100% + 12px);
  }
  .notemob {padding-right: 0;}
}


.btn-block2 {
  display: flex;
}

.mt1 {
  margin-top: 23px;
}

.mt2 {
  margin-top: 40px;
}

.jc {
  justify-content: center;
}

.spb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btnm {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  font-family: 'HelveticaNeueLTStd-Bd';
  font-size: 18px;
  color: #fff;
  background: #b71f2a;
  border: 2px solid #b71f2a;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  padding: 13px 10px;
}

.btnm span {
  display: block;
  font-family: 'HelveticaNeueLTStd-Bd';
  font-size: 18px;
  color: #fff;
}

.btnm svg {
  height: 15px;
  fill: #fff;
}

.nbtn svg {
  margin-left: 10px;
}

.pbtn svg {
  margin-right: 10px;
}

.pbtn svg {
  transform: rotate(180deg);
}

.btnm:hover {
  color: #b71f2a;
  background: #fff;
}

.btnm:hover span {
  color: #b71f2a;
  background: #fff
}

.btnm:hover svg {
  fill: #b71f2a;
}

@media(max-width: 1260px) {
  .btnsteps {
    padding-right: 20px;
  }
}

@media(max-width: 576px) {
  .btnsteps span {
    display: none;
  }
  .btnsteps svg {
    margin-left: 0;
    margin-right: 0;
  }
  .btnsteps .btnm {
    min-width: 90px;
  }
  .btnsteps {
    padding-right: 0;
  }
}

@media(max-width: 385px) {
  .btnm {
    width: 100%;
  }
}

.screen {
  width: 270px;
  height: 484px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen .template-block {
  width: 270px;
  height: 484px;
}

.screen .template, .screen .cont {
  width: 237.5px;
  height: 482.64px;
}

.screen .template .empty-img {
  width: 273.13px;
  height: 482.64px;
}

.feat-page .chtitle {
  width: 270px;
  margin: 0 auto;
}

.feat-page .screen {
  position: relative;
  top: -16px;
  margin: 0 auto;
}

.feat-page .template-block.right {
  top: auto;
}

@media(max-width: 960px) {
  .screen {
    margin: 0 auto;
  }
  /*.feat-page .screen {top: auto;margin-top: 50px;}*/
  .feat-page .screen {margin-top: 50px;}
  .template-block.right {
    margin-top: 0;
  }

}

