.last-logo img {
	position: absolute;
	z-index: 500;
	max-height: 55px;
	width: auto;
	left: 50%;
	transform: translateX(-50%);
	top: 98px;
}

.maintitle {
	position: absolute;
	width: 115px;
    z-index: 500;
	font-size: 9px;
    top: 189px;
    text-align: center;
	text-transform: uppercase;
}

.leftt {
	font-family: HelveticaNeueLTStd-Md;
	color: #a6bbd8;
	left: -17px;
}

.rightt {
	font-family: HelveticaNeueLTStd-Bd;
	color: #083877;
	right: -17px;
}

.left-list, .right-list {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 500;
}

.right-list {
	width: 100%;
	top: 201px;
}

.left-list {
	top: 213px;
	width: 95%;
}

.left-list li, .right-list li {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 30px;
   font-size: 13px;
   text-align: center;
   padding: 5px 0;
}

.left-list li {
	min-height: 30px;
	color: #fff;
	background: #a6bbd8;
	border-radius: 5px;
	margin-top: 5px;
	text-transform: capitalize;
}

.right-list li {
	font-family: HelveticaNeueLTStd-Md;
	color: #073674;
	border-top: 1px solid #fff;
}

.right-list ul {
	background: #a6bbd8;
	border-radius: 7px;
}

.right-list li:last-child {
	border-bottom: 1px solid #fff;
}

.right-list li:first-child {
	font-size: 10px;
	color: #fff;
	border-top: 0;
}

.left-list .btn {
	max-width: 120px;
    min-height: 30px;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 7px 0;
}

.left-list .btn, .right-list .btn {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
}

.right-list .btn {
	width: 100%;
	min-height: 32px;
	max-width: 100%;
	font-size: 14px;
	background: #d7292a;
	border: 0;
	text-transform: capitalize;
	margin-top: 3px;
}

.sots-line2 {
	display: flex;
	align-items: center;
}

.sots-line2 .social {
	width: 22px;
	height: 24px;
	margin-right: 2px;
}

.sots-line2 .social:last-child {
	margin-right: 0;
}

.sots-line2 .social.hide {
	display: none;
}

.sots-line2 img {
	height: 12px;
	width: auto;
    position: relative;
    left: auto;
    top: auto;
    transform: none;
}

.block-button, .block-button2 {
	position: absolute;
	z-index: 500;
	height: 50px;
	width: 100%;
	background: linear-gradient(to bottom, #076fa0, #093473);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 10px;
}

.block-button p, .block-button2 p {
    font-size: 10px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}
/*
.fsmall.block-button p {
	font-size: 9px;
	line-height: 1.6;
}
*/

.res-sub {
	width: 100%;
	height: 29px;
    position: absolute;
    z-index: 300;
    top: 162px;
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 11px;
    line-height: 1.3;
    color: #000;
    text-transform: capitalize;
    text-align: center;
}

.res-title {
	width: 100%;
    position: absolute;
    z-index: 300;
    top: 204px;
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 11px;
    color: #031055;
    text-align: center;
}

.res-text {
	height: 123px;
	position: absolute;
    z-index: 300;
    bottom: 97px;
    font-size: 11px;
    text-align: center;
    line-height: 1.4;
    overflow: hidden;
}

.block1 {
    top: 194px;
}

.block2 {
    top: 313px;
}

.block3 {
    top: 430px;
}

.pother {
	padding: 0 22px 20px 18px;
}

.hid {
	overflow: hidden;
}

.h101 {
	height: 100.9%;
}

