.pad {
    padding: 75px 0;
}

.logos, .logo {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 20%;
    height: 220px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 15px 20px;
}

.logo img {
    max-height: 150px;
    width: auto;
    max-width: 100%;
}

.logo:nth-child(5n) {
    border-right: 0;
}

.logo:nth-child(-n+5) {
    border-top: 0;
}

.col {
    width: 100%;
}

@media(max-width: 960px) {
    .logo {
        width: 25%;
    }
    .logo:nth-child(5n) {
        border-right: 1px solid #fff;
    }
    .logo:nth-child(4n) {
        border-right: 0;
    }
    .logo:nth-child(5) {
        border-top: 1px solid #fff;
    }
    .empty:nth-last-child(-n+3) {
        display: none;
    }
}

@media(max-width: 768px) {
    .logo {
        width: 33.3333%;
    }
    .logo:nth-child(4n) {
        border-right: 1px solid #fff;
    }
    .logo:nth-child(3n) {
        border-right: 0;
    }
    .logo:nth-child(4) {
        border-top: 1px solid #fff;
    }
    .logo.empty:nth-last-child(3) {
       display: block;
    } 
}

@media(max-width: 576px) {
    .logo {
        width: 50%;
    }
    .logo:nth-child(3n) {
        border-right: 1px solid #fff;
    }
    .logo:nth-child(2n) {
        border-right: 0;
    }
    .logo:nth-child(3) {
        border-top: 1px solid #fff;
    }
    .logo.empty:nth-last-child(3) {
        display: none;
    }
}

@media(max-width: 450px) {
   .logo {
       max-width: 300px;
       width: 100%;
       border-right: 0 !important;
   }
   .empty {
       display: none;
   }
   .logo:nth-child(2) {
      border-top: 1px solid #fff;
   }
   .logos {
       justify-content: center;
   }
   .logo:first-child {
       border-top: 1px solid #fff;
   }
  .logos {
       border-bottom: 1px solid #fff;
   }
}
