.preview-block {
	display: none;
	min-width: 320px;
	flex-wrap: wrap;
	justify-content: center;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #f8f8f8;
	overflow-y: scroll;
	padding: 30px 50px 50px 60px;
}

.tw100, .screen-w100 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.prsect {
	background: #f8f8f8;
}

.previewshow {
	/*max-width: 595.28px;*/
	max-width: 380px;
	display: block;
	position: relative;
	height: auto;
	overflow: auto;
	margin: 0 auto;
}

#screen1:after {
	content: '';
	position: absolute;
	z-index: 2000;
	width: 100%;
	height: 21px;
	background: #f8f8f8;
	top: -15px;
	left: 0;
}

#screen1:before {
	content: '';
	position: absolute;
	z-index: 2000;
	width: 100%;
	height: 21px;
	background: #f8f8f8;
	bottom: -15px;
	left: 0;
}

.previewshow .template-block {
	background: #f8f8f8;
}

.previewshow .template {
	width: 237.5px;
}

.previewshow .cont2 {
	z-index: 2000;
	height: 474px;
    width: 238.5px;
    left: -1px;
	/*padding: 0 19px 15px 19px;*/
	padding: 0 19px 20px 20px;
}

.previewshow .pother {
	height: 471px;
    width: 239.5px;
    left: -1px;
    /*padding: 0 21px 18px 18px;*/
    padding: 0 22px 20px 18px;
}

.preview-block .closebtn {
	/* position: absolute; */
    /* right: 20px; */
    /* top: -1px; */
    display: block;
    font-size: 52px;
    color: #b71f2a;
    margin-top: 0;
    margin-right: 0;
}

.preview-block .closebtn:hover {
	color: #000;
}

.preview-block .template-block {
	pointer-events: none;
}

.preview-block.open {
	display: flex;
}

.preview-block .title {
	width: 100%;
	font-family: HelveticaNeueLTStd-Bd;
	font-size: 18px;
	/*padding-right: 20px;*/
	/*padding-bottom: 45px;*/
}

.final-hid {
	height: 100vh;
}

.final-hid.open {
	overflow: hidden;
}

.template-block {
	margin-right: 20px;
}

@media(max-width: 768px) {
	.preview-block .title {padding-bottom: 0;}
	.preview-block {padding: 30px 0px 0 20px;}
}
