.sots {
	margin-right: 27px;
}

.sots-line {
	margin-top: 10px;
}

.sots-line:first-child {
	margin-top: 0;
}

.sots:last-child {
	margin-right: 0;
}

.facebook {
	background: #43609c;
	border: 3px solid #43609c;
}

.inst {
	background: #e1209a;
	border: 3px solid #e1209a;
}

.twitter {
	background: #3fc5e6;
	border: 3px solid #3fc5e6;
}

.youtube {
	background: #ed3431;
	border: 3px solid #ed3431;
}
